<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		.line.highlight {
			border-left: 4px solid rgb(241, 190, 182);
			background-color: #000;
		}

		.line {
			min-height: 15px;
			padding-left: 24px;
		}

		.line.dim {
			opacity: 0.5;
		}

		.error-messages {
			max-width: 600px;
			margin: auto;
			padding-top: 100px;
		}

		.error-message {
			background: #222;
			font-family: 'Operator Mono';
			color: #fff;
			margin-top: 30px;
		}

		.error-message code {
			font-family: 'Operator Mono';
		}

		.error-message-head {
			background: #555;
			color: #fff;
			display: flex;
		}

		pre {
			line-height: 1.5;
			word-wrap: normal;
			overflow: auto;
			padding: 15px 0;
		}

		.error-message-head p {
			padding: 4px 20px;
		}

		section.doc {
			max-width: 700px;
			margin: auto;
		}
	</style>
</head>
<body>

	<section class="doc">
		@dimerTree(file.ast.children)
	</section>

	@set('mdContent', file.contents.split('\n'))

	@if(file.messages.length)
		<div class="error-messages">
			@each(message in file.messages)
			<div class="error-message">
				<div class="error-message-head">
					<p>{{ message.line }}:{{ message.column }}</p>
					<p>{{ message.reason }}</p>
				</div>
				<div class="error-message-source">
					{{{getSourceFrame(mdContent, message.line)}}}
				</div>
			</div>
		@end
		</div>
	@end

</body>
</html>
